<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Vacaciones Ya! - Admin{% endblock %}</title>
        {% block stylesheets %}
        
        <link rel="stylesheet" href="{{ asset('css/bootstrap-superhero.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/App.css') }}">   
        
        
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Vacaciones Ya! - Admin</a>
            </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                
                   {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
                 {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div className="container col-md-10">    
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12 ">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

        
        {% block javascripts %}
         <script src="https://kit.fontawesome.com/1c6366e5f9.js" crossorigin="anonymous"></script>
         <script src="{{ asset('js/jquery.min.js') }}"></script>
         <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        
        
        {% endblock %}
    </body>
</html>
